@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Source+Sans+3:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

body {
  background-color: #5a98ad;
  color: #ffffff;
  overflow-x: hidden; }

.marco {
  background-color: #40798C;
  border: 2px solid #1F363D;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 9px 9px 15px 6px #3d3d3d; }

@media (max-width: 425px) {
  .marco {
    max-width: 90%; } }

.boton,
.btn {
  background-color: #40798C;
  color: #ffffff;
  text-decoration: none;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  border: none;
  display: inline;
  max-width: 13rem;
  border: 2px solid #1F363D;
  transition: color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  .boton:hover,
  .btn:hover {
    background-color: #FFA500;
    color: #1F363D;
    border: 2px solid #FFA500; }

.precio {
  font-size: 2rem;
  font-weight: bold;
  color: #16a816; }

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  empty-cells: show;
  margin: 3rem 0; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.9rem; }

p,
a,
input,
label,
textarea {
  font-size: 1.6rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 2; }

.header {
  background-color: #1F363D;
  position: sticky;
  top: 0;
  z-index: 2; }
  .header .navbar {
    display: flex;
    padding-top: 0;
    padding-bottom: 0; }
    .header .navbar img {
      width: 12.5rem; }
    .header .navbar .nav-link {
      font-size: 1.8rem;
      color: #ffffff;
      font-weight: bold;
      transition: color 0.3s ease-in-out; }
      .header .navbar .nav-link:hover {
        color: #FFA500; }
    .header .navbar .navbar-toggler {
      border-radius: 100%;
      padding: 1rem;
      border: 1px solid #b1adad; }
    .header .navbar .header__nav--activo {
      border-bottom: 3px solid #FFA500;
      padding-bottom: .25rem; }

@media (max-width: 992px) {
  .header {
    position: relative; }
    .header .navbar-collapse {
      text-align: center; }
      .header .navbar-collapse .nav-link {
        display: inline-block; } }

@media (max-width: 768px) {
  .header {
    flex-direction: column; }
    .header .navbar .header__nav--activo {
      padding-bottom: 0; } }

.footer {
  background-color: #1F363D;
  margin-top: 4rem; }
  .footer p {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0 2rem 0; }
  .footer .footer__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    gap: 2rem; }
    .footer .footer__contenedor .footer__resumen ul {
      list-style: none; }
      .footer .footer__contenedor .footer__resumen ul img {
        width: 10rem; }
      .footer .footer__contenedor .footer__resumen ul p {
        text-align: start; }
    .footer .footer__contenedor .footer__menu {
      border-left: 1px solid #FFA500;
      padding-left: 2rem; }
      .footer .footer__contenedor .footer__menu h4 {
        font-weight: bold;
        color: #FFA500; }
      .footer .footer__contenedor .footer__menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        list-style: none; }
        .footer .footer__contenedor .footer__menu ul li a {
          display: flex;
          align-items: center;
          gap: 2rem;
          color: #ffffff;
          text-decoration: none;
          transition: color 0.3s ease-in-out; }
          .footer .footer__contenedor .footer__menu ul li a:hover {
            color: #FFA500; }
          .footer .footer__contenedor .footer__menu ul li a p {
            padding: 0; }
          .footer .footer__contenedor .footer__menu ul li a i {
            font-size: 2rem; }
        .footer .footer__contenedor .footer__menu ul li .footer__nav--active i {
          color: #FFA500; }

@media (max-width: 1200px) {
  .footer .footer__contenedor {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 520px) {
  .footer .footer__contenedor {
    display: block; }
    .footer .footer__contenedor .footer__menu {
      border-left: none;
      margin-top: 2rem; } }

.barra-filtro {
  border-bottom: 2px solid #FFA500;
  border-top: 1px solid #1F363D;
  margin-bottom: 3rem;
  padding: 1rem; }
  .barra-filtro .barra-filtro__nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .barra-filtro .barra-filtro__nav .barra-filtro__items {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .btn.btn-secondary {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: transparent;
        border: none;
        font-size: 1.3rem;
        transition: color .3s ease-in-out; }
        .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .btn.btn-secondary:hover {
          color: #FFA500; }
      .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .dropdown-menu {
        border-radius: 2rem;
        border: 1px solid #1F363D; }
        .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .dropdown-menu .dropdown-item {
          transition: color .3s ease-in-out;
          display: flex;
          text-align: center;
          gap: 1rem; }
          .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .dropdown-menu .dropdown-item:hover {
            background-color: transparent;
            color: #FFA500; }
    .barra-filtro .barra-filtro__nav .barra-filtro__busqueda input {
      font-size: 1.3rem;
      border-radius: 2rem;
      border: 1px solid #1F363D; }
    .barra-filtro .barra-filtro__nav .barra-filtro__busqueda button {
      font-size: 1.3rem; }

.justify-content-sm-center {
  justify-content: space-between !important; }
  .justify-content-sm-center .card {
    border-radius: 1.5rem;
    border: 2px solid #1F363D;
    transition: border 0.3s ease-in-out;
    overflow: hidden;
    max-width: 40rem; }
    .justify-content-sm-center .card img {
      transform: scale(1);
      transition: transform 0.5s ease-in-out; }
    .justify-content-sm-center .card:hover {
      border: 2px solid #FFA500; }
      .justify-content-sm-center .card:hover .card-text {
        border-bottom: 1px solid #FFA500; }
      .justify-content-sm-center .card:hover img {
        transform: scale(1.05); }
    .justify-content-sm-center .card .card-text {
      min-height: 13rem;
      border-bottom: 1px solid #b1adad;
      transition: border 0.3s ease-in-out; }
    .justify-content-sm-center .card .btn {
      font-size: 1.6rem; }
    .justify-content-sm-center .card .precio {
      font-size: 2rem;
      font-weight: bold;
      color: #16a816; }

@media (max-width: 1400px) {
  .justify-content-sm-center .card {
    max-width: 30rem; } }

@media (max-width: 768px) {
  .justify-content-sm-center {
    justify-content: center !important; }
  .barra-filtro .barra-filtro__nav {
    justify-content: center; }
    .barra-filtro .barra-filtro__nav .barra-filtro__items {
      display: none; } }

.producto-individual {
  display: flex;
  margin-top: 3rem;
  gap: 2rem; }
  .producto-individual .producto-individual__imagen {
    height: 45.6rem;
    border-radius: 2rem;
    border: 2px solid #1F363D; }
  .producto-individual .producto-individual__informacion .producto-individual__descripcion {
    min-height: 12rem;
    border-bottom: 1px solid #FFA500;
    margin-bottom: 2rem; }
  .producto-individual .producto-individual__informacion .precio {
    background-color: #ffffff;
    display: inline;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid #FFA500;
    margin-top: 2rem; }
  .producto-individual .producto-individual__informacion .producto-individual__form {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem; }
    .producto-individual .producto-individual__informacion .producto-individual__form .producto-individual__cantidad {
      background-color: #ffffff;
      color: #000000;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: 2px solid #1F363D;
      display: flex;
      align-items: center; }
      .producto-individual .producto-individual__informacion .producto-individual__form .producto-individual__cantidad label {
        padding-right: 1rem;
        text-transform: uppercase;
        border-right: 2px solid #1F363D;
        font-weight: bold; }
      .producto-individual .producto-individual__informacion .producto-individual__form .producto-individual__cantidad input {
        border: none;
        padding-left: 1rem;
        outline: none; }

@media (max-width: 1024px) {
  .producto-individual {
    flex-direction: column; }
    .producto-individual .producto-individual__imagen {
      height: 100%; } }
