@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Source+Sans+3:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

body {
  background-color: #5a98ad;
  min-width: 100vh;
  color: #ffffff; }

.marco {
  background-color: #40798C;
  border: 2px solid #1F363D;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 9px 9px 15px 6px #3d3d3d; }

@media (max-width: 425px) {
  .marco {
    max-width: 90%; } }

.boton,
.btn {
  background-color: #40798C;
  color: #ffffff;
  text-decoration: none;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1rem;
  border: none;
  display: inline;
  max-width: 13rem;
  border: 2px solid #1F363D;
  transition: color 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  .boton:hover,
  .btn:hover {
    background-color: #FFA500;
    color: #1F363D;
    border: 2px solid #FFA500; }

.precio {
  font-size: 2rem;
  font-weight: bold;
  color: #16a816; }

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  empty-cells: show;
  margin: 3rem 0; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.9rem; }

p,
a,
input,
label,
textarea {
  font-size: 1.6rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 2; }

.nav-link, .header-index .header-index__barra nav, .header .navbar {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease-in-out; }
  .nav-link:hover, .header-index .header-index__barra nav:hover, .header .navbar:hover {
    color: #FFA500; }

.nav-link, .header-index .header-index__barra nav, .header .navbar {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease-in-out; }
  .nav-link:hover, .header-index .header-index__barra nav:hover, .header .navbar:hover {
    color: #FFA500; }

.header-index {
  background-image: url("../img/fondo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .header-index .header-index__difuminado {
    background-color: #191d3277;
    width: 100%;
    height: 20rem;
    position: absolute; }
  .header-index .header-index__barra nav {
    display: flex; }
    .header-index .header-index__barra nav .navbar-brand img {
      max-width: 30rem; }
  .header-index .header-index__titulo {
    color: #ffffff;
    text-align: start;
    margin-top: 60vh; }
  .header-index .navbar-toggler {
    border-radius: 100%;
    padding: 1rem;
    border: 1px solid #b1adad; }

@media (max-width: 1024px) {
  .header-index .header-index__difuminado {
    background-color: #191d3200; }
  .header-index .header-index__barra {
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .header-index .header-index__titulo {
    text-align: center;
    margin-top: 30vh; } }

@media (max-width: 992px) {
  .header-index .header-index__titulo {
    margin-top: 40vh; }
  .header-index .navbar-collapse {
    text-align: center; }
    .header-index .navbar-collapse .nav-link, .header-index .navbar-collapse .header-index__barra nav, .header-index .header-index__barra .navbar-collapse nav, .header-index .navbar-collapse .header .navbar, .header .header-index .navbar-collapse .navbar {
      display: inline-block; } }

@media (max-width: 425px) {
  .header-index .header-index__barra nav .navbar-brand img {
    max-width: 12.5rem; } }

@media (max-width: 320px) {
  .header-index .header-index__titulo {
    font-size: 4rem; } }

.nav-link, .header-index .header-index__barra nav, .header .navbar {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease-in-out; }
  .nav-link:hover, .header-index .header-index__barra nav:hover, .header .navbar:hover {
    color: #FFA500; }

.header {
  background-color: #1F363D;
  position: sticky;
  top: 0;
  z-index: 2; }
  .header .navbar {
    display: flex;
    padding-top: 0;
    padding-bottom: 0; }
    .header .navbar img {
      width: 12.5rem; }
    .header .navbar .navbar-toggler {
      border-radius: 100%;
      padding: 1rem;
      border: 1px solid #b1adad; }
    .header .navbar .header__nav--activo {
      border-bottom: 3px solid #FFA500;
      padding-bottom: .25rem; }

@media (max-width: 992px) {
  .header {
    position: relative; }
    .header .navbar-collapse {
      text-align: center; }
      .header .navbar-collapse .nav-link, .header .navbar-collapse .header-index .header-index__barra nav, .header-index .header-index__barra .header .navbar-collapse nav, .header .navbar-collapse .navbar {
        display: inline-block; } }

@media (max-width: 768px) {
  .header {
    flex-direction: column; }
    .header .navbar .header__nav--activo {
      padding-bottom: 0; } }

.footer {
  background-color: #1F363D;
  margin-top: 4rem; }
  .footer p {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0 2rem 0; }
  .footer .footer__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
    gap: 2rem; }
    .footer .footer__contenedor .footer__resumen ul {
      list-style: none; }
      .footer .footer__contenedor .footer__resumen ul img {
        width: 10rem; }
      .footer .footer__contenedor .footer__resumen ul p {
        text-align: start; }
    .footer .footer__contenedor .footer__menu {
      border-left: 1px solid #FFA500;
      padding-left: 2rem; }
      .footer .footer__contenedor .footer__menu h4 {
        font-weight: bold;
        color: #FFA500; }
      .footer .footer__contenedor .footer__menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        list-style: none; }
        .footer .footer__contenedor .footer__menu ul li a {
          display: flex;
          align-items: center;
          gap: 2rem;
          color: #ffffff;
          text-decoration: none;
          transition: color 0.3s ease-in-out; }
          .footer .footer__contenedor .footer__menu ul li a:hover {
            color: #FFA500; }
          .footer .footer__contenedor .footer__menu ul li a p {
            padding: 0; }
          .footer .footer__contenedor .footer__menu ul li a i {
            font-size: 2rem; }
        .footer .footer__contenedor .footer__menu ul li .footer__nav--active i {
          color: #FFA500; }

@media (max-width: 1200px) {
  .footer .footer__contenedor {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 520px) {
  .footer .footer__contenedor {
    display: block; }
    .footer .footer__contenedor .footer__menu {
      border-left: none;
      margin-top: 2rem; } }

.informacion-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; }
  .informacion-index .informacion-index__img {
    height: 28.6rem;
    border-radius: 2rem;
    border: 2px solid #1F363D; }
  .informacion-index .informacion-index__texto {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.informacion-index__boton {
  text-align: end;
  margin-top: 2rem; }

.cartas {
  display: flex;
  justify-content: space-between; }
  .cartas a {
    text-decoration: none; }
    .cartas a .cartas__carta {
      background-color: #40798C;
      width: 21rem;
      min-height: 28.7rem;
      margin: auto;
      padding: 2rem 0;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #1F363D;
      box-shadow: 9px 9px 15px 6px #3d3d3d;
      transition: all .5s; }
      .cartas a .cartas__carta:hover {
        border: 2px solid #FFA500;
        transform: scale(1.05); }
        .cartas a .cartas__carta:hover i {
          background-color: #FFA500; }
      .cartas a .cartas__carta h4 {
        font-weight: bold;
        color: #ffffff; }
      .cartas a .cartas__carta i {
        font-size: 3rem;
        background-color: #1F363D;
        width: 100%;
        display: block;
        text-align: center;
        box-sizing: border-box;
        padding: 1rem 2rem;
        transition: background-color 0.3s ease-in-out;
        color: #ffffff; }
      .cartas a .cartas__carta p {
        color: #ffffff;
        padding: 1.35rem; }

.mapa-google {
  width: 100%;
  max-width: 132rem;
  border-radius: 2rem; }

@media (max-width: 992px) {
  .informacion-index {
    display: block; }
    .informacion-index .informacion-index__img {
      display: none; }
  .cartas {
    display: block; }
    .cartas a .cartas__carta {
      width: 100%;
      min-height: auto;
      margin-bottom: 2rem; } }

@media (max-width: 768px) {
  .informacion-index__texto p:nth-last-child(-n+2) {
    display: none; }
  .encuentranos {
    display: none; } }

.nosotros__contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  grid-template-areas: "parrafo-1 parrafo-imagen" "parrafo-2 parrafo-imagen" "parrafo-3 parrafo-3" "parrafo-4 parrafo-4" "parrafo-5 parrafo-5"; }
  .nosotros__contenido .parrafo-imagen {
    background-image: url("../img/nosotros2.webp");
    height: 100%;
    background-position: center;
    background-size: cover;
    grid-area: parrafo-imagen;
    border-radius: 2rem; }
  .nosotros__contenido .parrafo-1 {
    grid-area: parrafo-1; }
  .nosotros__contenido .parrafo-2 {
    grid-area: parrafo-2; }
  .nosotros__contenido .parrafo-3 {
    grid-area: parrafo-3; }
  .nosotros__contenido .parrafo-4 {
    grid-area: parrafo-4; }
  .nosotros__contenido .parrafo-5 {
    grid-area: parrafo-5; }

.carousel-item img {
  max-width: 100rem;
  margin: auto;
  border-radius: 5rem; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000;
  border-radius: 100%;
  padding: 1.5rem; }

@media (max-width: 1200px) {
  .carousel-item img {
    max-width: 80rem; } }

@media (max-width: 1024px) {
  .nosotros__contenido {
    display: block; }
    .nosotros__contenido .parrafo-imagen {
      height: 400px; } }

@media (max-width: 992px) {
  .carousel-item img {
    max-width: 56rem; } }

@media (max-width: 768px) {
  .carousel-item img {
    max-width: 45rem; } }

@media (max-width: 540px) {
  .carousel,
  .nosotros-trabajos,
  .parrafo-imagen {
    display: none; }
  .nosotros__contenido {
    display: block; } }

.formulario-servicios {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  border: 2px solid #1F363D;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #ffffff; }
  .formulario-servicios .formulario-servicios__img {
    width: 100%;
    border-radius: 2rem;
    border: 1px solid #1F363D; }
  .formulario-servicios .formulario-servicios__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .formulario-servicios .formulario-servicios__form .boton {
      margin-top: 1rem; }
    .formulario-servicios .formulario-servicios__form .formulario-servicios__condicion {
      display: flex;
      justify-content: space-between;
      padding: .25rem;
      border-radius: 1.5rem;
      margin-bottom: 1rem;
      background-color: #40798C;
      border: 1px solid #1F363D;
      transition: background-color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
      .formulario-servicios .formulario-servicios__form .formulario-servicios__condicion:hover {
        background-color: #FFA500;
        color: #1F363D; }
      .formulario-servicios .formulario-servicios__form .formulario-servicios__condicion input {
        margin-right: 1rem; }
      .formulario-servicios .formulario-servicios__form .formulario-servicios__condicion label {
        padding-left: 1rem; }
    .formulario-servicios .formulario-servicios__form .formulario-servicios__textarea {
      display: flex;
      gap: 1rem;
      background-color: #40798C;
      border: 1px solid #1F363D;
      padding: .3rem;
      border-radius: .5rem;
      transition: background-color 0.3s ease-in-out; }
      .formulario-servicios .formulario-servicios__form .formulario-servicios__textarea:hover {
        background-color: #FFA500;
        color: #1F363D; }
      .formulario-servicios .formulario-servicios__form .formulario-servicios__textarea textarea {
        width: 83%;
        height: 5rem; }

@media (max-width: 992px) {
  .formulario-servicios {
    display: block; }
    .formulario-servicios .formulario-servicios__img {
      display: none; } }

.barra-filtro {
  border-bottom: 2px solid #FFA500;
  border-top: 1px solid #1F363D;
  margin-bottom: 3rem;
  padding: 1rem; }
  .barra-filtro .barra-filtro__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .barra-filtro .barra-filtro__nav .barra-filtro__items {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .btn.btn-secondary {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: transparent;
        border: none;
        font-size: 1.3rem;
        transition: color .3s ease-in-out; }
        .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .btn.btn-secondary:hover {
          color: #FFA500; }
      .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .dropdown-menu {
        border-radius: 2rem;
        border: 1px solid #1F363D; }
        .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .dropdown-menu .dropdown-item {
          transition: color .3s ease-in-out; }
          .barra-filtro .barra-filtro__nav .barra-filtro__items .barra-filtro__item .dropdown-menu .dropdown-item:hover {
            background-color: transparent;
            color: #FFA500; }
    .barra-filtro .barra-filtro__nav .barra-filtro__busqueda input {
      font-size: 1.3rem;
      border-radius: 2rem;
      border: 1px solid #1F363D; }
    .barra-filtro .barra-filtro__nav .barra-filtro__busqueda button {
      font-size: 1.3rem; }

.card {
  border-radius: 1.5rem;
  border: 2px solid #1F363D;
  transition: border 0.3s ease-in-out;
  overflow: hidden; }
  .card img {
    transform: scale(1);
    transition: transform 0.5s ease-in-out; }
  .card:hover {
    border: 2px solid #FFA500; }
    .card:hover .card-text {
      border-bottom: 1px solid #FFA500; }
    .card:hover img {
      transform: scale(1.05); }
  .card .card-text {
    min-height: 13rem;
    border-bottom: 1px solid #b1adad;
    transition: border 0.3s ease-in-out; }
  .card .btn {
    font-size: 1.6rem; }
  .card .precio {
    font-size: 2rem;
    font-weight: bold;
    color: #16a816; }

@media (max-width: 768px) {
  .barra-filtro .barra-filtro__nav {
    justify-content: center; }
    .barra-filtro .barra-filtro__nav .barra-filtro__items {
      display: none; } }

@media (max-width: 320px) {
  .justify-content-sm-center {
    justify-content: center; } }

.producto-individual {
  display: flex;
  margin-top: 3rem;
  gap: 2rem; }
  .producto-individual .producto-individual__imagen {
    height: 45.6rem;
    border-radius: 2rem;
    border: 2px solid #1F363D; }
  .producto-individual .producto-individual__informacion .producto-individual__descripcion {
    min-height: 12rem;
    border-bottom: 1px solid #FFA500;
    margin-bottom: 2rem; }
  .producto-individual .producto-individual__informacion .precio {
    background-color: #ffffff;
    display: inline;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 2px solid #FFA500;
    margin-top: 2rem; }
  .producto-individual .producto-individual__informacion .producto-individual__form {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem; }
    .producto-individual .producto-individual__informacion .producto-individual__form .producto-individual__cantidad {
      background-color: #ffffff;
      color: #000000;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: 2px solid #1F363D;
      display: flex;
      align-items: center; }
      .producto-individual .producto-individual__informacion .producto-individual__form .producto-individual__cantidad label {
        padding-right: 1rem;
        text-transform: uppercase;
        border-right: 2px solid #1F363D;
        font-weight: bold; }
      .producto-individual .producto-individual__informacion .producto-individual__form .producto-individual__cantidad input {
        border: none;
        padding-left: 1rem;
        outline: none; }

@media (max-width: 1024px) {
  .producto-individual {
    flex-direction: column; }
    .producto-individual .producto-individual__imagen {
      height: 100%; } }

.descargas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }
  .descargas .descargas__categorias h2 {
    text-align: start; }
  .descargas .descargas__categorias .descargas__enlaces {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem; }
    .descargas .descargas__categorias .descargas__enlaces .descargas__descarga {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      width: 35rem;
      padding: 0 1rem;
      border-radius: 2rem;
      background-color: #1F363D;
      border: 2px solid #1F363D;
      transition: border 0.3s ease-in-out; }
      .descargas .descargas__categorias .descargas__enlaces .descargas__descarga:hover {
        border: 2px solid #FFA500; }
      .descargas .descargas__categorias .descargas__enlaces .descargas__descarga img {
        width: 3.5rem; }

@media (max-width: 1200px) {
  .descargas {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 768px) {
  .descargas {
    display: block; }
    .descargas .descargas__categorias h2 {
      text-align: center; }
    .descargas .descargas__categorias .descargas__enlaces {
      align-items: center; } }

@media (max-width: 320px) {
  .descargas .descargas__categorias .descargas__enlaces .descargas__descarga {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;
    width: 20rem;
    padding: 2rem; } }

.form {
  background-color: #1F363D;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  box-shadow: 9px 12px 20px 8px #000000;
  grid-template-areas: "nombre apellido" "email telefono" "fecha asunto" "mensaje mensaje" "contactado contactado"; }
  .form .form__nombre {
    grid-area: nombre; }
  .form .form__apellido {
    grid-area: apellido; }
  .form .form__email {
    grid-area: email; }
  .form .form__telefono {
    grid-area: telefono; }
  .form .form__fecha {
    grid-area: fecha; }
  .form .form__asunto {
    grid-area: asunto; }
  .form .form__mensaje {
    grid-area: mensaje; }
  .form .form__contactado {
    grid-area: contactado; }
  .form .form__campo {
    display: grid;
    grid-template-columns: 80px calc(100% - 80px);
    margin: 1rem; }
    .form .form__campo label {
      width: 8rem;
      display: inline-block; }
    .form .form__campo input {
      height: 3rem;
      width: 100%;
      border-radius: 1rem;
      border: 2px solid #40798C; }
    .form .form__campo textarea {
      border-radius: 1rem;
      border: 2px solid #40798C; }
  .form .form__campo-contactado {
    display: flex;
    align-items: center; }
    .form .form__campo-contactado p {
      margin: 0; }
    .form .form__campo-contactado .form__campo {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .form .form__campo-contactado .form__campo input {
        height: 2rem; }

@media (max-width: 768px) {
  .form {
    display: block; } }

@media (max-width: 425px) {
  .form .form__campo-contactado {
    display: block; }
    .form .form__campo-contactado .form__campo input {
      width: 3rem; } }

.mensaje-enviado {
  text-align: center;
  margin-top: 7rem; }
