.tabla-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blanco;
    border-radius: 2rem;
    border: 1px solid $primarioOscuro;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    .tabla-productos__img {
        height: 5rem;
    }

    .tabla-productos__texto {
        color: $negro;
        margin: 0;
        text-align: center;
        min-width: 6.3rem;
    }

    .tabla-productos__texto.tabla-productos__texto--1 {
        min-width: 19rem;
    }
}

.cartel-total {
    margin-top: 5rem;
    text-align: right;

    .cifra-total {
        background-color: $blanco;
        display: inline;
        padding: 1rem 2rem;
        border: 1px solid $primarioOscuro;
        border-radius: 2rem;
        color: $precio;
        font-family: $fuenteParrafos;
        font-weight: bold;

        span {
            color: $negro;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: normal;
        }
    }
}

@media (max-width: 768px) {

    .grid-tabla-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .tabla-productos {
            margin: 1rem auto;
            max-width: 30rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "imagen imagen"
                "imagen imagen"
                "nombre nombre"
                "unidad precio"
                ". eliminar"
            ;

            .tabla-productos__img {
                grid-area: imagen;
                margin: 0 auto;
                padding-bottom: 2rem;
                border-bottom: 1px solid $gris;
                height: 10rem;
            }

            .tabla-productos__texto {
                height: 3.2rem;
            }

            .tabla-productos__texto--1 {
                grid-area: nombre;
            }

            .tabla-productos__texto--2 {
                grid-area: precio;
            }

            .tabla-productos__texto--3 {
                grid-area: unidad;
            }

            .tabla-productos__texto.tabla-productos__texto--4 {
                display: none;
            }

            .tabla-productos__texto--5 {
                grid-area: eliminar;
            }
        }
    }
}

@media (max-width: 475px) {
    .grid-tabla-productos {
        display: block;
    }
}