.tabla-productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blanco;
    border-radius: 2rem;
    border: 1px solid $primarioOscuro;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    .tabla-productos__img {
        height: 5rem;
    }

    .tabla-productos__texto {
        color: $negro;
        margin: 0;
        text-align: center;
        min-width: 19rem;
    }
}