.overlayProducto {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    display: grid;
    height: 100%;
    left: 0;
    place-items: center;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    .producto-individual {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        position: fixed;
        margin-top: -15rem;

        .producto-individual__imagen {
            height: 40rem;
            border-radius: 2rem;
            border: 2px solid $primarioOscuro;
        }

        .producto-individual__agregado {
            grid-column: 1 / 3;
        }

        .producto-individual__informacion {
            width: 100%;

            .producto-individual__descripcion {
                min-height: 12rem;
                border-bottom: 1px solid $secundario;
                margin-bottom: 2rem;
            }

            .precio {
                background-color: $blanco;
                display: inline;
                padding: 1rem 2rem;
                border-radius: 1rem;
                border: 2px solid $secundario;
                margin-top: 2rem;
            }

            .producto-individual__stock {
                margin-top: 2rem;
            }

            .producto-individual__form {
                display: flex;
                align-items: center;
                gap: 2rem;

                .boton {
                    box-shadow: 4px 5px 6px 3px $grisOscuro;
                }

                .producto-individual__cantidad {
                    background-color: $blanco;
                    color: $negro;
                    padding: 0.5rem 1rem;
                    border-radius: 2rem;
                    border: 2px solid $primarioOscuro;
                    display: flex;
                    align-items: center;

                    label {
                        padding-right: 1rem;
                        text-transform: uppercase;
                        border-right: 2px solid $primarioOscuro;
                        font-weight: bold;
                    }

                    input {
                        border: none;
                        padding-left: 1rem;
                        outline: none;
                    }
                }

                .producto-individual__cancelar {
                    color: $blanco;
                    text-decoration: none;
                    cursor: pointer;
                    transition: color .3s ease-in-out;
                    margin: 0;

                    &:hover {
                        color: $secundario;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .overlayProducto {
        .producto-individual {
            display: block;
            top: 25rem;

            .producto-individual__imagen {
                width: 50%;
                height: 50%;
                margin: 1rem auto;
            }

            .producto-individual__informacion {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .precio {
                    margin: 0;
                }

                .producto-individual__titulo {
                    display: none;
                }

                .producto-individual__descripcion {
                    display: none;
                }

                .producto-individual__stock {
                    display: none;
                }

                .producto-individual__form {

                    .producto-individual__cantidad {
                        input {
                            width: 9rem;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .producto-individual {
        text-align: center;
        margin: 0 auto;

        .producto-individual__informacion {
            flex-direction: column;

            .producto-individual__form {
                flex-direction: column;
            }
        }
    }
}